@import '../../common/typography-mixins';
@import '../../components/info-block-1/variables';
@import '../../common/bootstrap';
@import '../power-lines/variables';
@import '../../common/mixins';

.activity-directions {
  margin-left: $power-line-offset;
  margin-right: $power-line-offset;

  @media screen and (max-width: $breakpoint-1-max) {
    margin-left: $power-line-offset-mobile;
    margin-right: $power-line-offset-mobile;
  }

  &__title {
    @include title-2;
    padding-top: $title-vertical-offset;
    padding-left: $fhd-col-width;

    @media screen and (max-width: $breakpoint-2 - 1) {
      padding-left: $mobil-col-width;
      padding-top: 0;
    }

    &_offset {
      margin-top: 205px;

      @media screen and (max-width: $breakpoint-2 - 1) {
        margin-top: 0; 
      }
    }
  }

  &__info-block {
    &_right {
      margin-top: 220px;

      & .info-block-1__sub-text {
        div {
          line-height: 40px;
        }
      }

      
    }
    & .info-block-1__sub-text {
      max-width: 440px;
      font-size: 14px;
    }
    &_top {
      @media screen and (max-width: $breakpoint-2 - 1) {
        padding-left: $power-line-offset;
        padding-right: $power-line-offset;
      }
      @media screen and (max-width: $breakpoint-1-max) {
        padding-left: $power-line-offset-mobile;
        padding-right: $power-line-offset-mobile;
      }
      .info-block-1__sub-text {
        max-width: none;
        margin-right: $power-line-offset;
      }
    }
  }

  @media (max-width: $breakpoint-2 - 1) {
    &__info-block {
      margin-top: 60px;

      & .info-block-1__sub-text {
        max-width: none;
      }
    }

    & .two-columns__column_right {
      @include make-col(12);
      order: 1;
    }

    & .two-columns__column_left {
      @include make-col(12);
      order: 2;

      @media screen and (max-width: $breakpoint-2 - 1) {
        order: 0;
        display: flex;
        flex-direction: column;

        .info-block-1 {
          order: 3;
        }

      }
    }
  }
}