mixin clients
    a.clients(href='/company.html', data-link-type='inner')
        .clients__wrapper
            .clients__logo-wrapper
                img.clients__logo(src='../../images/clients/logo-1.png')
            .clients__logo-wrapper
                img.clients__logo(src='../../images/clients/logo-2.png')
            .clients__logo-wrapper
                img.clients__logo(src='../../images/clients/logo-3.png')
            .clients__logo-wrapper
                img.clients__logo(src='../../images/clients/logo-4.png')
            .clients__logo-wrapper
                img.clients__logo(src='../../images/clients/logo-5.png')
            .clients__logo-wrapper
                img.clients__logo(src='../../images/clients/logo-6.png')
            .clients__logo-wrapper
                img.clients__logo(src='../../images/clients/logo-7.png')
            .clients__logo-wrapper
                img.clients__logo(src='../../images/clients/logo-8.png')
            .clients__logo-wrapper
                img.clients__logo(src='../../images/clients/logo-9.png')