include ../../components/two-columns/two-columns
include ../../common/multiple-blocks

mixin reviews(attrs)
    .reviews&attributes(attrs)
        +two-columns
            +set('left')
                .anim-overflow_reviews
                    .reviews__texts.swiper-container(data-slider='1')
                        .reviews__texts-wrapper.swiper-wrapper
                            .reviews__text.swiper-slide(data-company-index='0', data-year='2004', data-full-link='#1') ООО &laquo;Астраханьгазпром&raquo;. Проведена диагностика 2 участков газопровода &laquo;Ермолинское-Астрахань&raquo;, общей протяженностью более 80&nbsp;км, включающие подводные переходы. В&nbsp;рамках работ было выполнено обследование методом фононной диагностики. Выявлено 27&nbsp;поврежденных участков. Выборочные контрольные шурфовки подтвердили достоверность данных, полученных при обследовании.
                            .reviews__text.swiper-slide(data-company-index='0', data-year='2007', data-full-link='#2') ООО &laquo;Астраханьгазпром&raquo;. Проведена диагностика 2 участков газопровода &laquo;Ермолинское-Астрахань&raquo;, общей протяженностью более 80&nbsp;км, включающие подводные переходы. В&nbsp;рамках работ было выполнено обследование методом фононной диагностики. Выявлено 27&nbsp;поврежденных участков. Выборочные контрольные шурфовки подтвердили достоверность данных, полученных при обследовании.
                            .reviews__text.swiper-slide(data-company-index='0', data-year='2004', data-full-link='#3') ООО &laquo;Астраханьгазпром&raquo;. Проведена диагностика 2 участков газопровода &laquo;Ермолинское-Астрахань&raquo;, общей протяженностью более 80&nbsp;км, включающие подводные переходы. В&nbsp;рамках работ было выполнено обследование методом фононной диагностики. Выявлено 27&nbsp;поврежденных участков. Выборочные контрольные шурфовки подтвердили достоверность данных, полученных при обследовании.
                            .reviews__text.swiper-slide(data-company-index='1', data-year='2004', data-full-link='') ООО &laquo;Астраханьгазпром&raquo;. Проведена диагностика 2&nbsp;участков газопровода &laquo;Ермолинское-Астрахань&raquo;, общей протяженностью более 80&nbsp;км, включающие подводные переходы. В&nbsp;рамках работ было выполнено обследование методом фононной диагностики. Выявлено 27&nbsp;поврежденных участков. Выборочные контрольные шурфовки подтвердили достоверность данных, полученных при обследовании.
                            .reviews__text.swiper-slide(data-company-index='1', data-year='2004', data-full-link='#') ООО &laquo;Астраханьгазпром&raquo;. Проведена диагностика 2&nbsp;участков газопровода &laquo;Ермолинское-Астрахань&raquo;, общей протяженностью более 80&nbsp;км, включающие подводные переходы. В&nbsp;рамках работ было выполнено обследование методом фононной диагностики. Выявлено 27&nbsp;поврежденных участков. Выборочные контрольные шурфовки подтвердили достоверность данных, полученных при обследовании.
                            .reviews__text.swiper-slide(data-company-index='1', data-year='2004', data-full-link='#') ООО &laquo;Астраханьгазпром&raquo;. Проведена диагностика 2&nbsp;участков газопровода &laquo;Ермолинское-Астрахань&raquo;, общей протяженностью более 80&nbsp;км, включающие подводные переходы. В&nbsp;рамках работ было выполнено обследование методом фононной диагностики. Выявлено 27&nbsp;поврежденных участков. Выборочные контрольные шурфовки подтвердили достоверность данных, полученных при обследовании.
                            .reviews__text.swiper-slide(data-company-index='1', data-year='2004', data-full-link='#') ООО &laquo;Астраханьгазпром&raquo;. Проведена диагностика 2&nbsp;участков газопровода &laquo;Ермолинское-Астрахань&raquo;, общей протяженностью более 80&nbsp;км, включающие подводные переходы. В&nbsp;рамках работ было выполнено обследование методом фононной диагностики. Выявлено 27&nbsp;поврежденных участков. Выборочные контрольные шурфовки подтвердили достоверность данных, полученных при обследовании.
                            .reviews__text.swiper-slide(data-company-index='1', data-year='2004', data-full-link='#') ООО &laquo;Астраханьгазпром&raquo;. Проведена диагностика 2&nbsp;участков газопровода &laquo;Ермолинское-Астрахань&raquo;, общей протяженностью более 80&nbsp;км, включающие подводные переходы. В&nbsp;рамках работ было выполнено обследование методом фононной диагностики. Выявлено 27&nbsp;поврежденных участков. Выборочные контрольные шурфовки подтвердили достоверность данных, полученных при обследовании.
                            .reviews__text.swiper-slide(data-company-index='2', data-year='2004', data-full-link='#') ООО &laquo;Астраханьгазпром&raquo;. Проведена диагностика 2&nbsp;участков газопровода &laquo;Ермолинское-Астрахань&raquo;, общей протяженностью более 80&nbsp;км, включающие подводные переходы. В&nbsp;рамках работ было выполнено обследование методом фононной диагностики. Выявлено 27&nbsp;поврежденных участков. Выборочные контрольные шурфовки подтвердили достоверность данных, полученных при обследовании.
                            .reviews__text.swiper-slide(data-company-index='2', data-year='2004', data-full-link='#') ООО &laquo;Астраханьгазпром&raquo;. Проведена диагностика 2&nbsp;участков газопровода &laquo;Ермолинское-Астрахань&raquo;, общей протяженностью более 80&nbsp;км, включающие подводные переходы. В&nbsp;рамках работ было выполнено обследование методом фононной диагностики. Выявлено 27&nbsp;поврежденных участков. Выборочные контрольные шурфовки подтвердили достоверность данных, полученных при обследовании.
                            .reviews__text.swiper-slide(data-company-index='2', data-year='2004', data-full-link='#') ООО &laquo;Астраханьгазпром&raquo;. Проведена диагностика 2&nbsp;участков газопровода &laquo;Ермолинское-Астрахань&raquo;, общей протяженностью более 80&nbsp;км, включающие подводные переходы. В&nbsp;рамках работ было выполнено обследование методом фононной диагностики. Выявлено 27&nbsp;поврежденных участков. Выборочные контрольные шурфовки подтвердили достоверность данных, полученных при обследовании.
                            .reviews__text.swiper-slide(data-company-index='2', data-year='2004', data-full-link='#') ООО &laquo;Астраханьгазпром&raquo;. Проведена диагностика 2&nbsp;участков газопровода &laquo;Ермолинское-Астрахань&raquo;, общей протяженностью более 80&nbsp;км, включающие подводные переходы. В&nbsp;рамках работ было выполнено обследование методом фононной диагностики. Выявлено 27&nbsp;поврежденных участков. Выборочные контрольные шурфовки подтвердили достоверность данных, полученных при обследовании.
            +set('right')
                .reviews__wrapper
                    .reviews__companies.swiper-container(data-slider='2')
                        .reviews__companies-wrapper.swiper-wrapper
                            .reviews__company.swiper-slide Газпром
                            .reviews__company.swiper-slide Роснефть
                            .reviews__company.swiper-slide Русснефть
                    
                    .reviews__counter
                        .reviews__companies-arrow.reviews__companies-arrow_prev
                        .reviews__companies-arrow.reviews__companies-arrow_next
                        span.reviews__counter-current 1
                        | /
                        span.reviews__counter-total
            .reviews__company-selector.swiper-container(data-slider='3')
                .reviews__company-selector-wrapper.swiper-wrapper
                    .reviews__company-selector-item.swiper-slide(data-first-text-index='0', data-review-count='3') Газпром
                    .reviews__company-selector-item.swiper-slide(data-first-text-index='3', data-review-count='5') Роснефть
                    .reviews__company-selector-item.swiper-slide(data-first-text-index='8', data-review-count='4') Русснефть
                    
        +two-columns({class: 'reviews__footer'})
            +set('left')
                .anim-overflow_reviews
                    a.reviews__link
                        img(src='../../images/icon-file.png')
                        span.reviews__link-text полный отзыв
            +set('right')
                .anim-overflow_reviews
                    .reviews__year