include ../../components/info-block-1/info-block-1
include ../../components/two-columns/two-columns
include ../../common/multiple-blocks

mixin science-activity(attrs)
    .science-activity&attributes(attrs)
        +two-columns
            +set('left')
                .science-activity__image
                    img(src='../../images/company/science-activityscience.jpg')
            +set('right')
                +info-block-1(
                    '<div>Научная</div><div>деятельность</div><div>компании</div>',
                    'В  1997 году ДИАТЕХ открыл миру метод фононной диагностики. В основу метода легли разработки военно-промышленного комплекса. Изобретатель метода В.К. ' +
                    'Шухостанов в настоящее время занимает должность Вице-президента по науке и технологиям. Права на метод и патенты принадлежат ДИАТЕХ.',
                    'Компания имеет собственный Научно-исследовательский центр. Персонал научного центра - профессора и доктора наук - непрерывно развивают технологии, ' +
                    'совершенствуют оборудование и проводят подготовку специалистов.',
                    null,
                    {class: 'science-activity__info-block-1'}
                )
                .science-activity__sub-text ДИАТЕХ является разработчиком собственного программного обеспечения, над развитием которого трудится штат программистов.
                .science-activity__text С&nbsp;2001 года ДИАТЕХ имеет статус Коллективного члена Российской академии естественных наук.