mixin directions-map
    .directions-map
        .directions-map__inner-wrapper
            .directions-map__card.directions-map__card_center.directions-map__card_active
                .anim-overflow
                    .directions-map__card-title ДИАТЕХ работает на суше и за её пределами
            .directions-map__card(data-pin='0')
                .anim-overflow
                    .directions-map__card-title Тоннели, подземные переходы
                .directions-map__card-block
            .directions-map__card(data-pin='1')
                .anim-overflow
                    .directions-map__card-title Угольная и горнорудная промышленность
                .directions-map__card-block
                    .anim-overflow
                        p.directions-map__card-block-title Реализованные проекты:
                        ul.directions-map__card-list
                            li.directions-map__card-item АО “Русский уголь”. Техническая диагностика и ЭПБ устройств с 2011 года
                            li.directions-map__card-item Угольная компания “Алмазная”. Техническая диагностика и ЭПБ устройств

            .directions-map__card(data-pin='2')
                .anim-overflow
                    .directions-map__card-title Грузоподъемные механизмы
                .directions-map__card-block
                    .anim-overflow
                        p.directions-map__card-block-title Реализованные проекты:
                        ul.directions-map__card-list
                            li.directions-map__card-item ОА НК “Нефтиса”. Диагностика и ЭПБ грузоподъемных механизмов на нефтепромысле с 2014 года
                            li.directions-map__card-item ОАО "Краснодарэконефть". Диагностика и ЭПБ грузоподъемных механизмов на Краснодарском НПЗ с 2012 года
                            li.directions-map__card-item АО “Русский уголь”. Диагностика и ЭПБ грузоподъемных механизмов угольной промышленности с 2011 года

            .directions-map__card(data-pin='3')
                .anim-overflow
                    .directions-map__card-title Подъездные пути
                .directions-map__card-block
                    .anim-overflow
                        p.directions-map__card-block-title Реализованные проекты:
                        ul.directions-map__card-list
                            li.directions-map__card-item ПАО НК “Русснефть”. Техническое обследование и ЭПБ подъездных путей с 2001 года
                            li.directions-map__card-item ОА НК “Нефтиса”. Исследование и ЭПБ подъездных путей с 2014 года
                            li.directions-map__card-item ОАО "КНПЗ-КЭН". ЭПБ и техническая диагностика с 2012 года

            .directions-map__card(data-pin='4')
                .anim-overflow
                    .directions-map__card-title Металлургия
                .directions-map__card-block

            .directions-map__card(data-pin='5')
                .anim-overflow
                    .directions-map__card-title Суда
                .directions-map__card-block
                    .anim-overflow
                        p.directions-map__card-block-title Реализованные проекты:
                        ul.directions-map__card-list
                            li.directions-map__card-item TOTAL. Фононная диагностика устройств нефтедобывающего судна FPSO DALIA

            .directions-map__card(data-pin='6')
                .anim-overflow
                    .directions-map__card-title Дамбы, плотины
                .directions-map__card-block

            .directions-map__card(data-pin='7')
                .anim-overflow
                    .directions-map__card-title Нефтяные платформы
                .directions-map__card-block
                    .anim-overflow
                        p.directions-map__card-block-title Реализованные проекты:
                        ul.directions-map__card-list
                            li.directions-map__card-item Petronas. Исследование методом фононной диагностики устройств нефтедобывающей платформы
                            li.directions-map__card-item Cuulong. Фононная диагностика устройств нефтедобывающей платформы
                            li.directions-map__card-item Brunei Shell Petroleum. Обследование с применением фононной технологии райзеров

            .directions-map__card(data-pin='8')
                .anim-overflow
                    .directions-map__card-title Резервуары, сосуды, котлы
                .directions-map__card-block
                    .anim-overflow
                        p.directions-map__card-block-title Реализованные проекты:
                        ul.directions-map__card-list
                            li.directions-map__card-item ПАО “Лукойл”. Техническая диагностика и ЭПБ подземных горизонтальных резервуаров
                            li.directions-map__card-item Минобороны. Проведение полной диагностики резервуарных парков складов горючего
                            li.directions-map__card-item Petronas. Фононная диагностика двустенного резервуара и колд-бокса

            .directions-map__card(data-pin='9')
                .anim-overflow
                    .directions-map__card-title Станки-качалки
                .directions-map__card-block
                    .anim-overflow
                        p.directions-map__card-block-title Реализованные проекты:
                        ul.directions-map__card-list
                            li.directions-map__card-item ПАО НК "Русснефть". Диагностика без остановки производства, ЭПБ станков-качалок
                            li.directions-map__card-item Самараинвестнефть. Техническая диагностика и ЭПБ более 50 станков-качалок
                            li.directions-map__card-item ОАО "Белкамнефть" Нефтиса. Диагностическое обследование и ЭПБ промысловых объектов

            .directions-map__card(data-pin='10')
                .anim-overflow
                    .directions-map__card-title Устьевая арматура
                .directions-map__card-block
                    .anim-overflow
                        p.directions-map__card-block-title Реализованные проекты:
                        ul.directions-map__card-list
                            li.directions-map__card-item ПАО НК "Русснефть". Исследование и ЭПБ устьевой арматуры с 2001 года
                            li.directions-map__card-item ПАО “Роснефть”. Техническая диагностика и ЭПБ устьевой арматуры с 2000 года
                            li.directions-map__card-item ПАО “Газпром”. Техническая диагностика и ЭПБ устьевой арматуры с 2004 года

            .directions-map__card(data-pin='11')
                .anim-overflow
                    .directions-map__card-title Факельные вышки
                .directions-map__card-block
                    .anim-overflow
                        p.directions-map__card-block-title Реализованные проекты:
                        ul.directions-map__card-list
                            li.directions-map__card-item ПАО НК “Русснефть”. Техническое обследование и ЭПБ факельных установок с 2001 года
                            li.directions-map__card-item Petronas. Техническое обследование факельной вышки методом фононной диагностики
                            li.directions-map__card-item ЭКСПОСТ. Техническая диагностика и ЭПБ совмещенной факельной установки

            .directions-map__card(data-pin='12')
                .anim-overflow
                    .directions-map__card-title Машиностроение
                .directions-map__card-block

            .directions-map__card(data-pin='13')
                .anim-overflow
                    .directions-map__card-title АЭС, ГЭС
                .directions-map__card-block

            .directions-map__card(data-pin='14')
                .anim-overflow
                    .directions-map__card-title Надземные трубопроводы
                .directions-map__card-block
                    .anim-overflow
                        p.directions-map__card-block-title Реализованные проекты:
                        ul.directions-map__card-list
                            li.directions-map__card-item ВР. Техническая диагностика состояния участков надземных трубопроводов фононным методом
                            li.directions-map__card-item Hyundai oil bank. Исследование методом фононной диагностики трубопровода из углеродистой стали
                            li.directions-map__card-item СEPSA. Инспектирование методом фононной диагностики надземных трубопроводов с 2004 года

            .directions-map__card(data-pin='15')
                .anim-overflow
                    .directions-map__card-title Подземные трубопроводы
                .directions-map__card-block
                    .anim-overflow
                        p.directions-map__card-block-title Реализованные проекты:
                        ul.directions-map__card-list
                            li.directions-map__card-item ПАО “Газпром”. Инструментальная диагностика методом фононной диагностики магистрального газопровода с 2004
                            li.directions-map__card-item Repsol. Диагностика технического состояния подземных трубопроводов методом фононной диагностики
                            li.directions-map__card-item SINOPEC. Техническое обследование с применением метода фононной диагностики на подземном трубопроводе

            .directions-map__card(data-pin='16')
                .anim-overflow
                    .directions-map__card-title Мосты, несущие конструкции
                .directions-map__card-block
                    .anim-overflow
                        p.directions-map__card-block-title Реализованные проекты:
                        ul.directions-map__card-list
                            li.directions-map__card-item ДСД "Черноморье". Мониторинг технического состояния мостового перехода автодороги
                            li.directions-map__card-item Адлер-Красная Поляна
                            li.directions-map__card-item ГБУ “Гормост”. Исследование напряженного состояния  части Строгинского моста

            .directions-map__card(data-pin='17')
                .anim-overflow
                    .directions-map__card-title Подводные переходы
                .directions-map__card-block
                    .anim-overflow
                        p.directions-map__card-block-title Реализованные проекты:
                        ul.directions-map__card-list
                            li.directions-map__card-item ПАО “Газпром”. Техническая диагностика и ЭПБ подводных переходов с 2004 года
                            li.directions-map__card-item ПАО “Роснефть”. Техническая диагностика и ЭПБ подводных переходов с 2000 года
                            li.directions-map__card-item ОАО "Трансаммиак". Исследование надземных аммиакопроводов методом фононной диагностики с 2000 года

            .directions-map__card(data-pin='18')
                .anim-overflow
                    .directions-map__card-title ТЭЦ, ТЭС, ТГК
                .directions-map__card-block
                    .anim-overflow
                        p.directions-map__card-block-title Реализованные проекты:
                        ul.directions-map__card-list
                            li.directions-map__card-item ОАО «ТГК-2». Техническое обследование объектов ТГК в Тверской и Ярославской обл.
                            li.directions-map__card-item АО “Теплоэлектропроект”. Подготовка рабочей документации по Калининградской ТЭЦ-2
                            li.directions-map__card-item АО “Теплоэлектропроект”. Подготовка рабочей документации по Сочинской ТЭС

            .directions-map__card(data-pin='19')
                .anim-overflow
                    .directions-map__card-title ЛЭП
                .directions-map__card-block
                    .anim-overflow
                        p.directions-map__card-block-title Реализованные проекты:
                        ul.directions-map__card-list
                            li.directions-map__card-item Global Energy Azerbaijan. Фононная диагностика и ЭПБ энергетического оборудования
                            li.directions-map__card-item ЭКСПОСТ. Тех. надзор за строительством объектов Нижне-Шапшинского месторождения

            .directions-map__card(data-pin='20')
                .anim-overflow
                    .directions-map__card-title Здания и сооружения
                .directions-map__card-block
                    .anim-overflow
                        p.directions-map__card-block-title Реализованные проекты:
                        ul.directions-map__card-list
                            li.directions-map__card-item ПАО НК “Русснефть”. Диагностика и ЭПБ зданий и сооружений на нефтепромыслах с 2001 года
                            li.directions-map__card-item ОАО "Орскнефтесинтез". Диагностика и ЭПБ зданий и сооружений нефтепереработки с 2007 года
                            li.directions-map__card-item АО "Русский уголь". Диагностика зданий и сооружений угольной промышленности с 2011 года

            .directions-map__bg-wrapper
                img.directions-map__bg(src='../../images/directions/map.jpg')

            .directions-map__pins
                button.directions-map__pin(type='button', style={left: '20%', bottom: '45%'}, data-pin='0')
                button.directions-map__pin(type='button', style={left: '27%', bottom: '50%'}, data-pin='1')
                button.directions-map__pin(type='button', style={left: '45%', bottom: '68%'}, data-pin='2')
                button.directions-map__pin(type='button', style={left: '42%', bottom: '60%'}, data-pin='3')
                button.directions-map__pin(type='button', style={left: '40%', bottom: '50%'}, data-pin='4')
                button.directions-map__pin(type='button', style={left: '63%', bottom: '64%'}, data-pin='5')
                button.directions-map__pin(type='button', style={left: '60%', bottom: '53%'}, data-pin='6')
                button.directions-map__pin(type='button', style={left: '78%', bottom: '66%'}, data-pin='7')
                button.directions-map__pin(type='button', style={left: '70%', bottom: '32%'}, data-pin='8')
                button.directions-map__pin(type='button', style={left: '80%', bottom: '37%'}, data-pin='9')
                button.directions-map__pin(type='button', style={left: '91%', bottom: '35%'}, data-pin='10')
                button.directions-map__pin(type='button', style={left: '86%', bottom: '20%'}, data-pin='11')
                button.directions-map__pin(type='button', style={left: '75%', bottom: '4%'}, data-pin='12')
                button.directions-map__pin(type='button', style={left: '63%', bottom: '12%'}, data-pin='13')
                button.directions-map__pin(type='button', style={left: '55%', bottom: '8%'}, data-pin='14')
                button.directions-map__pin(type='button', style={left: '47%', bottom: '6%'}, data-pin='15')
                button.directions-map__pin(type='button', style={left: '54%', bottom: '27%'}, data-pin='16')
                button.directions-map__pin(type='button', style={left: '40%', bottom: '13%'}, data-pin='17')
                button.directions-map__pin(type='button', style={left: '24%', bottom: '25%'}, data-pin='18')
                button.directions-map__pin(type='button', style={left: '15%', bottom: '28%'}, data-pin='19')
                button.directions-map__pin(type='button', style={left: '16%', bottom: '0%'}, data-pin='20')