include ../../components/header/header
include ../../components/footer/footer
include ../../components/main-first-screen/main-first-screen
include ../../components/slider-navigation/slider-navigation
include ../../components/press-and-hold/press-and-hold
include ../../components/info-block-1/info-block-1
include ../../components/info-block-2/info-block-2
include ../../components/info-block-3/info-block-3
include ../../components/main-slider/main-slider
include ../../components/main-slider-slide/main-slider-slide
include ../../common/multiple-blocks
include ../../components/two-columns/two-columns
include ../../components/power-lines/power-lines
include ../../components/activity/activity
include ../../components/cases/cases
include ../../components/advantages/advantages
include ../../components/geography/geography
include ../../components/contacts/contacts
include ../../components/scroll-up/scroll-up
include ../../components/scroll-down/scroll-down
include ../../components/main-rest/main-rest
include ../../components/preloader/preloader
include ../../components/pulse/pulse
include ../../components/sandwich-menu/sandwich-menu

doctype html
html
    head
        link(rel='stylesheet' href='../../common/common.scss')
        link(rel='icon' type='image/png' sizes='16x16' href='../../images/favicons/ru/icon-16.png')
        link(rel='icon' type='image/png' sizes='48x48' href='../../images/favicons/ru/icon-48.png')
        link(rel='icon' type='image/png' sizes='96x96' href='../../images/favicons/ru/icon-96.png')
        link(rel='icon' type='image/png' sizes='192x192' href='../../images/favicons/ru/icon-192.png')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(charset='utf-8')

    body
        +sandwich-menu
        #barba-wrapper
            .barba-container(data-namespace='index')
                +header
                div#fullpage
                    .main-first-screen-wrapper.section
                        +main-first-screen({'data-full-screen': '', class: 'main-first-screen_padding-full'})
                            +set('bg')
                                .main-first-screen__bg-wrapper
                            +set('left-top')
                                +info-block-1('<div data-text-part>ДИАТЕХ.</div><div data-text-part>Там, где другие</div><div data-text-part>бессильны</div>', 'Спустя 22&nbsp;года на&nbsp;рынке технической диагностики и&nbsp;экспертизы промышленной безопасности мы&nbsp;остаемся новаторами в&nbsp;сфере неразрушающего контроля', null, {}, {class: 'main-first-screen__info-block-1'})
                            +set('additionals')
                                +scroll-down({class: 'main-first-screen__scroll-down'})
                    +main-slider({'data-fs-part': '', class: 'section'})
                        +main-slider-slide({
                            'data-full-screen': '',
                            'data-id': 0,
                            class: 'main-slider-slide_padding-full main-slider-slide_active main-slider-slide__slide-1'
                        })
                            +set('bg')
                                .main-slider-slide__bg-wrapper
                                    img.main-slider-slide__bg(data-img="scene-01" src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7',
                                    data-object-fit='cover', data-object-position='center right')
                                    img.main-slider-slide__bg.main-slider-slide__bg_mobile(data-img="scene-01-mobile" src='data:image/gif;base64,' +
                                    'R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', data-object-fit='cover', data-object-position='center')
                                    video.main-slider-slide__video(src='../../videos/main-slider/scene-01.mp4', type='video/mp4', muted, data-keepplaying)
                            +set('left-top')
                                +info-block-3('<div>Метод Фононной</div><div>диагностики</div>', 'Диагностика в широком спектре температур и давлений без остановки эксплуатации ' +
                                'объекта', null, {class: 'main-slider-slide__info-block-3'}, null)
                            +set('right-top')
                                div.anim-overflow
                                    +info-block-2('Минимум подготовительных работ: не&nbsp;требуется специальной подготовки объекта, в&nbsp;отличие от традиционных методов')
                            +set('right-bottom')
                                div.anim-overflow
                                    +info-block-2('Сбор и&nbsp;обработка данных происходит непосредственно на&nbsp;диагностриуемых объектах в&nbsp;режиме рельного времени')
                            +set('middle-bottom')
                                div.anim-overflow
                                    +info-block-2('Диагностика в&nbsp;широком спектре температур и&nbsp;давлений')
                        +main-slider-slide({
                            'data-full-screen': '',
                            'data-id': 1,
                            class: 'main-slider-slide_padding-full main-slider-slide__slide-2'
                        })
                            +set('bg')
                                .main-slider-slide__bg-wrapper
                                    img.main-slider-slide__bg(data-img="scene-02" src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', data-object-fit='cover', data-object-position='center right')
                                    img.main-slider-slide__bg.main-slider-slide__bg_mobile.main-slider-slide__bg_tube(data-img="scene-02-mobile" src='data:image/gif;base64,' +
                                    'R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', data-object-fit='cover', data-object-position='center')
                                    video.main-slider-slide__video(src='../../videos/main-slider/scene-02.mp4', type='video/mp4', muted, data-keepplaying)
                            +set('left-top')
                                +info-block-3(null, 'Энергия внешнего и внутреннего воздействия на кристаллическую решетку вызывает изменения её структуры, являющиеся источником' +
                                ' фононной эмиссии', null, {class: 'main-slider-slide__info-block-3'}, null)
                            +set('middle-top')
                                div.anim-overflow
                                    +info-block-2('Технология фононной диагностики применяется к твердым телам, имеющих кристаллическую структуру')
                            +set('right-top')
                                noindex
                                    div.anim-overflow
                                        +info-block-2('Энергия внешнего и внутреннего воздействия на кристаллическую решетку объекта вызывает изменения её структуры, являющиеся ' +
                                        'источником фононной эмиссии')
                            +set('right-bottom')
                                div.anim-overflow
                                    +info-block-2('Энергия внешнего и внутреннего воздействия на кристаллическую решетку объекта вызывает изменения её структуры, являющиеся ' +
                                    'источником фононной эмиссии')
                        +main-slider-slide({
                            'data-full-screen': '',
                            'data-id': 2,
                            class: 'main-slider-slide_padding-full main-slider-slide__slide-3'
                        })
                            +set('bg')
                                .main-slider-slide__bg-wrapper
                                    img.main-slider-slide__bg(data-img="scene-03" src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', data-object-fit='cover', data-object-position='center right')
                                    img.main-slider-slide__bg.main-slider-slide__bg_mobile.main-slider-slide__bg_tube(data-img="scene-03-mobile" src='data:image/gif;base64,' +
                                    'R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', data-object-fit='cover', data-object-position='center')
                                    video.main-slider-slide__video(src='../../videos/main-slider/scene-03.mp4', type='video/mp4', muted, data-keepplaying)
                            +set('left-top')
                                +info-block-3(null, 'Датчики регистрируют сигналы от источников фононной эмиссии. Программное обеспечение ДИАТЕХ обрабатывает сигналы и ' +
                                'локализует обнаруженные дефекты', null, {class: 'main-slider-slide__info-block-3'}, null)
                            +set('middle-top')
                                div.anim-overflow
                                    +info-block-2('Датчики регистрируют сигналы от источников фононной эмиссии')
                            +set('right-top')
                                noindex
                                    div.anim-overflow
                                        +info-block-2('С помощью программного обеспечения ДИАТЕХ производится обработка сигналов и локализация обнаруженных дефектов')
                            +set('middle-bottom')
                                div.anim-overflow
                                    +info-block-2('Диагностика 100% длины, объема и площади поверхности объекта')
                            +set('right-bottom')
                                div.anim-overflow
                                    +info-block-2('С помощью программного обеспечения ДИАТЕХ производится обработка сигналов и локализация обнаруженных дефектов')
                        +main-slider-slide({
                            'data-full-screen': '',
                            'data-id': 3,
                            class: 'main-slider-slide_padding-full main-slider-slide__slide-4'
                        })
                            +set('bg')
                                .main-slider-slide__bg-wrapper
                                    img.main-slider-slide__bg(data-img="scene-04" src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', data-object-fit='cover', data-object-position='center right')
                                    img.main-slider-slide__bg.main-slider-slide__bg_mobile.main-slider-slide__bg_tube(data-img="scene-04-mobile" src='data:image/gif;base64,' +
                                    'R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', data-object-fit='cover', data-object-position='center')
                            +set('left-top')
                                +info-block-3(null, 'Вероятность обнаружения дефектов более 80%: расположение, количество, тип, величина и степень опасности дефектов', null, {class: 'main-slider-slide__info-block-3'}, null)
                            +set('middle-top')
                                div.anim-overflow
                                    +info-block-2('Вероятность обнаружения дефектов более 80%: расположение, количество, тип, величина и степень опасности дефектов')
                            +set('right-top')
                                noindex
                                    div.anim-overflow
                                        +info-block-2('Отчёт о&nbsp;техническом состоянии объекта и&nbsp;расчёт остаточного срока службы по&nbsp;результатам диагностики')
                            +set('middle-bottom')
                                div.anim-overflow
                                    +info-block-2('Экспертные рекомендации по&nbsp;дальнейшей эксплуатации объекта')
                            +set('right-bottom')
                                div.anim-overflow
                                    +info-block-2('Отчёт о&nbsp;техническом состоянии объекта и&nbsp;расчёт остаточного срока службы по&nbsp;результатам диагностики')
                        +slider-navigation(4, {class: 'main-slider__navigation', arrows: true})
                        +press-and-hold({class: 'main-slider__press-and-hold'})
                    +main-rest
                        +activity
                        +cases
                        +advantages('Преимущества<br>ДИАТЕХ', null, {class: 'main-rest__advantages'})
                        +geography({class: 'main-rest__geography'})
                        +contacts
                        +scroll-up({class: 'main-rest__scroll-up'})
                +footer
        +preloader
        <div id="awwwards" style="position: fixed; z-index: 999; transform: translateY(-50%); top: 50%;  right: 0"><a href="https://www.awwwards.com/sites/diatech" target="_blank"><svg width="53.08" height="171.358"><path class="js-color-bg" fill="black" d="M0 0h53.08v171.358H0z"></path><g class="js-color-text" fill="white"><path d="M20.047 153.665v-1.9h3.888v-4.093h-3.888v-1.9h10.231v1.9h-4.59v4.093h4.59v1.9zM29.898 142.236c-.331.565-.784.997-1.359 1.294s-1.222.446-1.944.446c-.721 0-1.369-.149-1.943-.446a3.316 3.316 0 0 1-1.36-1.294c-.331-.564-.497-1.232-.497-2.002s.166-1.438.497-2.002a3.316 3.316 0 0 1 1.36-1.294c.574-.297 1.223-.445 1.943-.445.723 0 1.369.148 1.944.445a3.307 3.307 0 0 1 1.359 1.294c.331.564.497 1.232.497 2.002s-.166 1.438-.497 2.002m-1.703-3.347c-.435-.33-.967-.496-1.601-.496-.633 0-1.166.166-1.601.496-.433.332-.649.78-.649 1.346 0 .564.217 1.013.649 1.345.435.331.968.497 1.601.497.634 0 1.166-.166 1.601-.497.435-.332.649-.78.649-1.345.001-.566-.214-1.014-.649-1.346M22.911 134.852v-1.813h1.186a3.335 3.335 0 0 1-.951-1.009 2.423 2.423 0 0 1-.352-1.271c0-.682.19-1.229.57-1.645.381-.413.932-.621 1.652-.621h5.262v1.812h-4.721c-.419 0-.727.096-.921.285-.195.19-.292.447-.292.769 0 .302.115.58.35.833.234.254.577.458 1.03.613.454.156.993.234 1.616.234h2.938v1.813h-7.367zM29.898 125.136a3.314 3.314 0 0 1-1.359 1.294c-.575.297-1.222.445-1.944.445-.721 0-1.369-.148-1.943-.445a3.322 3.322 0 0 1-1.36-1.294c-.331-.565-.497-1.232-.497-2.002 0-.771.166-1.438.497-2.003a3.313 3.313 0 0 1 1.36-1.293c.574-.297 1.223-.446 1.943-.446.723 0 1.369.149 1.944.446s1.028.728 1.359 1.293.497 1.232.497 2.003c.001.769-.166 1.436-.497 2.002m-1.703-3.347c-.435-.331-.967-.497-1.601-.497-.633 0-1.166.166-1.601.497-.433.331-.649.778-.649 1.345 0 .564.217 1.013.649 1.344.435.332.968.498 1.601.498.634 0 1.166-.166 1.601-.498.435-.331.649-.779.649-1.344.001-.567-.214-1.014-.649-1.345M22.911 117.75v-1.812h1.199c-.419-.265-.742-.586-.972-.966s-.345-.784-.345-1.213c0-.272.05-.569.146-.892l1.682.336a1.429 1.429 0 0 0-.205.76c0 .576.261 1.048.783 1.418.521.37 1.342.557 2.461.557h2.617v1.812h-7.366zM29.812 111.252c-.391.511-.857.851-1.403 1.016l-.776-1.446c.381-.138.68-.329.893-.577.215-.249.321-.544.321-.885a1.2 1.2 0 0 0-.168-.658c-.112-.175-.294-.263-.548-.263-.225 0-.406.105-.548.313-.142.21-.291.534-.446.973-.019.068-.058.17-.117.307-.224.565-.506 1.004-.848 1.315-.34.313-.779.467-1.314.467-.381 0-.727-.102-1.039-.306a2.185 2.185 0 0 1-.744-.84 2.554 2.554 0 0 1-.279-1.207c0-.497.105-.949.314-1.359.211-.408.506-.725.886-.949l.993 1.082c-.43.292-.644.686-.644 1.184a.84.84 0 0 0 .154.504.471.471 0 0 0 .401.212c.176 0 .338-.103.49-.307.15-.205.334-.604.547-1.199.205-.564.474-1.001.805-1.308.332-.308.756-.46 1.271-.46.721 0 1.299.229 1.732.687s.65 1.057.65 1.797c.001.759-.194 1.396-.583 1.907M35.481 17.006l-4.782 14.969h-3.266l-2.584-9.682-2.584 9.682h-3.268l-4.782-14.969h3.713l2.673 10.276 2.525-10.276h3.445l2.524 10.276 2.674-10.276zM37.978 27.163c1.426 0 2.496 1.068 2.496 2.495 0 1.425-1.07 2.495-2.496 2.495-1.425 0-2.494-1.07-2.494-2.495-.001-1.427 1.069-2.495 2.494-2.495"></path></g></svg></a></div>