include ../two-columns/two-columns
include ../../common/multiple-blocks

mixin clients-full(attrs)
    .clients-full&attributes(attrs)
        +two-columns
            +set('right')
                 .clients-full__title-wrapper
                     .clients-full__title-wrapper-border
                     .clients-full__title клиенты
                     a.clients-full__reviews(href='/reviews.html') смотреть отзывы
        .clients-full__logos
                .clients-full__logo-wrapper
                    img.clients-full__logo(src='../../images/clients/logo-1.png')
                .clients-full__logo-wrapper
                    img.clients-full__logo(src='../../images/clients/logo-2.png')
                .clients-full__logo-wrapper
                    img.clients-full__logo(src='../../images/clients/logo-3.png')
                .clients-full__logo-wrapper
                    img.clients-full__logo(src='../../images/clients/logo-4.png')
                .clients-full__logo-wrapper
                    img.clients-full__logo(src='../../images/clients/logo-5.png')
                .clients-full__logo-wrapper
                    img.clients-full__logo(src='../../images/clients/logo-6.png')
                .clients-full__logo-wrapper
                    img.clients-full__logo(src='../../images/clients/logo-7.png')
                .clients-full__logo-wrapper
                    img.clients-full__logo(src='../../images/clients/logo-8.png')
                .clients-full__logo-wrapper
                    img.clients-full__logo(src='../../images/clients/logo-9.png')
                .clients-full__logo-wrapper
                    img.clients-full__logo(src='../../images/clients/logo-10.png')
                .clients-full__logo-wrapper
                    img.clients-full__logo(src='../../images/clients/logo-11.png')
                .clients-full__logo-wrapper
                    img.clients-full__logo(src='../../images/clients/logo-12.png')
                .clients-full__logo-wrapper
                    img.clients-full__logo(src='../../images/clients/logo-13.png')
                .clients-full__logo-wrapper
                    img.clients-full__logo(src='../../images/clients/logo-14.png')
                .clients-full__logo-wrapper
                    img.clients-full__logo(src='../../images/clients/logo-15.png')
                .clients-full__logo-wrapper
                    img.clients-full__logo(src='../../images/clients/logo-16.png')
                .clients-full__logo-wrapper
                    img.clients-full__logo(src='../../images/clients/logo-17.png')
                .clients-full__logo-wrapper
                    img.clients-full__logo(src='../../images/clients/logo-18.png')
                .clients-full__logo-wrapper
                    img.clients-full__logo(src='../../images/clients/logo-19.png')
                .clients-full__logo-wrapper
                    img.clients-full__logo(src='../../images/clients/logo-20.png')
