mixin sandwich-menu-button
    .sandwich-menu-button(data-menu-open='off')
        .sandwich-menu-button__lines
            .sandwich-menu-button__line
            .sandwich-menu-button__line
        .sandwich-menu-button__text меню