mixin radiance
    .radiance
        .radiance__canvas
            .radiance__item.radiance__item_one
            .radiance__item.radiance__item_two.radiance__item_on
            .radiance__item.radiance__item_three.radiance__item_on
            .radiance__item.radiance__item_four.radiance__item_on
        .radiance__crop
            img.radiance__image(data-img='crop' src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7')