include ../info-block-1/info-block-1

mixin career(attrs)
    .career&attributes(attrs)
        +info-block-1('карьера в&nbsp;диатех', null, 'Мы&nbsp;предлагаем талантливым специалистам работу над амбициозными проектами по всему миру. Наши вакансии <a href="https://hh.ru/employer/28100" class="career__hh">на&nbsp;hh.ru</a>')