mixin press-and-hold(attrs)
    .press-and-hold&attributes(attrs)
        .press-and-hold__progress-wrapper
            .press-and-hold__outer-circle
            .press-and-hold__inner-circle
            .press-and-hold__progress-bar
            .press-and-hold__progress-bar-ie-fix
            .press-and-hold__points
                .press-and-hold__point
                .press-and-hold__point
                .press-and-hold__point
        .press-and-hold__text кликните и удерживайте