include ../../components/header/header
include ../../components/footer/footer
include ../../components/case-top/case-top
include ../../components/info-block-1/info-block-1
include ../../components/inner-first-screen/inner-first-screen
include ../../components/img-block/img-block
include ../../components/two-columns/two-columns
include ../../common/multiple-blocks
include ../../components/power-lines/power-lines
include ../../components/preloader/preloader
include ../../components/adjacent-pages/adjacent-pages
include ../../components/scroll-up/scroll-up

html
    head
        link(rel='stylesheet' href='../../common/common.scss')
        link(rel='icon' type='image/png' sizes='16x16' href='../../images/favicons/ru/icon-16.png')
        link(rel='icon' type='image/png' sizes='48x48' href='../../images/favicons/ru/icon-48.png')
        link(rel='icon' type='image/png' sizes='96x96' href='../../images/favicons/ru/icon-96.png')
        link(rel='icon' type='image/png' sizes='192x192' href='../../images/favicons/ru/icon-192.png')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(charset='utf-8')
    body
        +sandwich-menu
        #barba-wrapper
            .barba-container(data-namespace='case')
                +header({class: 'contrast_header'})
                +power-lines

                .section.contrast
                    +inner-first-screen('Вернуться к кейсам', '/cases.html#case_total', {class: 'info-block-4_position-right-center'}, '<span data-title-item-anim>Сосуды под</span><br><span data-title-item-anim>давлением на</span><br> <span data-title-item-anim>судне FPSO</span>', '<span data-title-item-anim>Total E&P, Ангола</span>', '../../images/cases/case_total_main_img.jpg', {class: 'inner-first-screen_height-100vh'})
                    +power-lines

                //+case-top('<div data-text-part>Сосуды под</div><div data-text-part>давлением на</div><div data-text-part>судне FPSO</div>', 'Total E&P, Ангола', '../../images/cases/case_descr_img-total.jpg', {url: '#', anchor: 'Вернуться к кейсам'})
                .container-inner
                    .container-page
                        .container_case-inner
                            +two-columns
                                +set('left')
                                    +info-block-1('<div data-text-part>Обследование</div><div data-text-part>сосудов под</div><div data-text-part>давлением</div>', '', null, {})

                            +two-columns
                                +set('left')
                                    +info-block-1('', 'Успешно реализованный проект для одной из&nbsp;крупнейших нефтедобывающей компании Total ' +
                                    'на нефтяном месторождении в Анголе.', '', null, {class: 'info-block-1_no-max-width'})

                                +set('right')
                                    +info-block-1('', '', 'В рамках проекта были обследованы 2 сосуда, работающие под давлением, расположенные на нефтепромысловом судне FPSO DALIA.', null, {class: 'info-block-1_no-max-width'})
                            +img-block('../../images/cases/case_total_descr_img.jpg', {class: 'img-block_no-height'})

                        .container_case-inner
                            +two-columns
                                +set('left')
                                    +info-block-1('<div data-text-part>Требования</div>', '', null, {})

                            +two-columns
                                +set('left')
                                    +info-block-1(null, null, '<p>Минимальный объем демонтажа изоляционного покрытия </p><p>Диагностика без опорожнения сосудов</p>', null, {class: 'info-block-1_no-max-width'})

                                +set('right')
                                    +info-block-1(null, null, '<p>Обследование 100% поверхности сосуда, включая обечайку и&nbsp;оба днища</p> <p>Диагностика без изменения рабочего и температурного режима</p>', null, {class: 'info-block-1_no-max-width'})

                        .container_case-inner
                            +two-columns
                                +set('right')
                                    +info-block-1('<div data-text-part>Реализация</div>', '', null, {})

                            +two-columns
                                +set('left')
                                    +info-block-1(null, null, '<p>Срок реализации проекта, включая подготовку \n' +
                                    'отчета составил 8&nbsp;дней, рабочая группа включала \n' +
                                    '3&nbsp;специалиста </p><p>Для проведения фононной диагностики потребовалось снять изоляцию лишь в&nbsp;местах крепления датчиков, общая площадь зачищенной поверхности составила не&nbsp;более 0,15 м² на&nbsp;обоих сосудах</p>', null, {class: 'info-block-1_no-max-width'})

                                +set('right')
                                    +info-block-1(null, null, '<p>Проведена диагностика 100% длины, объема и&nbsp;площади поверхности сосудов, включая днища</p> <p>Во&nbsp;время проведения обследования режим работы сосудов не&nbsp;был изменен, была обеспечена непрерывная эксплуатация устройств</p> <p>Компактное оборудование упростило задачу прохождения контроля и&nbsp;перемещения на&nbsp;нефтедобывающее судно</p>', null, {class: 'info-block-1_no-max-width'})

                    +adjacent-pages(
                    {
                        bg: '../../images/cases/case_cuulong_main_img.jpg',
                        name: 'Cuulong, <br>Вьетнам',
                        href: '/case_cuulong.html',
                        text: 'Следующий кейс'
                    },
                    {
                        bg: '../../images/cases/case_petronas_main_img.jpg',
                        name: 'Petronas, <br>Малайзия',
                        href: '/case_petronas.html',
                        text: 'Предыдущий кейс'
                    }
                    )
                    +scroll-up
                +footer
        +preloader