mixin footer(attrs)
    .footer&attributes(attrs)
        .footer__copyright DIATECH &copy;&nbsp;2018
        .footer__devby design by
            span.footer__only-digital Only.
                span.footer__only-digital_mobil-hidden digital
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyApq3rTyloQ1A2nDTLg6-vHI_54Crs4fEI&language=en&libraries=places')