mixin objects-map-preview(attrs)
    a.objects-map-preview&attributes(attrs)(href='/company.html#secondPage', data-link-type='inner')
        img.objects-map-preview__bg(src='../../images/map.jpg')
        .objects-map-preview__title
            | карта
            br
            | проектов