@import '../../common/typography-mixins';

.info-block-6 {
  margin-right: smooth-value(75px, 128px, $breakpoint-4, $fhd-width, 'w');
  width: 190px;

  @media screen and (max-width: $breakpoint-4 - 1) {
    width: 65%;
  }

  @media screen and (max-width: $breakpoint-2 - 1) {
    width: 100%;
    margin-right: 0;
    padding-left: $mobil-col-width;
  }

  &__title {
    position: relative;
    padding-top: 30px;
    font-family: $font-bebas-neue-bold;
    font-size: 24px;
    line-height: 32px;
    color: $color-5;

    &-border {
      position: absolute;
      left: 0;
      top: 0;
      height: 3px;
      width: 100%;
      background-color: $color-3;

      @media screen and (max-width: $breakpoint-2 - 1) {
        width: 50%;
      }
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 95px;
    padding: 0;
    list-style: none;

    @media screen and (max-width: $breakpoint-2 - 1) {
      margin-bottom: 50px;
    }
  }
  &__item {
    width: 100%;
    padding: 10px 0;
    font-family: $font-avenir-next-cyr-medium;
    font-size: 14px;
    line-height: 24px;
    color: $color-5;
    opacity: .8;
  }
}

.text_nowrap {
  white-space: nowrap;

  @media screen and (max-width: $breakpoint-5 - 1) {
    white-space: normal;
  }
}