include ../two-columns/two-columns
include ../../common/multiple-blocks

mixin case(img, title, subTitle, text, attrs)
    .case&attributes(attrs)
        .case__left
            .case__title!= title
            .case__container
                img.case__img(src=img, data-object-fit='cover')
        .case__right
            .anim-overflow
                .case__sub-title!= subTitle
                .case__text!= text