include ../info-block-1/info-block-1
include ../two-columns/two-columns
include ../../common/multiple-blocks
include ../person/person


mixin leadership(attrs)
    .leadership&attributes(attrs)
        +info-block-1('Руководство')
        +two-columns({class: 'leadership__row'})
            +set('left')
                +person(
                    '../../images/leadership/person-1.jpg',
                    'президент компании',
                    'Джалиев Зелимхан Нухаевич',
                    'Более 12&nbsp;лет возглавляет компанию, принимает непосредственное участие в&nbsp;различных направлениях деятельности предприятия, нацелен на&nbsp;совершенствование и&nbsp;развитие. Помимо решения стратегических задач лично курирует продвижение компании, построение продаж и&nbsp;участвует в&nbsp;переговорах с&nbsp;ключевыми клиентами в&nbsp;России и&nbsp;за&nbsp;рубежом.'
                )
            +set('right')
                +person(
                    '../../images/leadership/person-2.jpg',
                    'Профессор',
                    'Шухостанов Владимир Кистуевич',
                    'Автор метода фононной диагностики, не имеющего аналогов в мире. Работает в компании со дня основания, сегодня определяет политику научного развития ' +
                    'предприятия и политику развития технологий.'
                )
        +two-columns({class: 'leadership__row'})
            +set('left')
                +person(
                    '../../images/leadership/person-3.jpg',
                    'Главный инженер',
                    'Циркулянц Георгий Гарекинович',
                    'Организует и&nbsp;контролирует диагностическую деятельность, руководит производственной службой предприятия, контролирует результаты её&nbsp;работы. Одна из&nbsp;важнейших сфер ответственности&nbsp;&mdash; повышение эффективности производственных процессов.'
                )
            +set('right')
                +person(
                    '../../images/leadership/person-4.jpg',
                    'Технический директор',
                    'Конорев Андрей Анатольевич ',
                    'Планирует реализацию проектов, готовит техническую документацию, консультирует по вопросам модернизации компании. Участвует в стратегии развития производственных интересов компании на международных рынках.'
                )
        +two-columns({class: 'leadership__row'})
            +set('left')
                +person(
                    '../../images/leadership/person-8.jpg',
                    'Руководитель научно-учебного центра',
                    'Стробыкин Олег Витальевич',
                    'Проводит научные исследования испытания новой техники и&nbsp;технологии, а&nbsp;также руководит работой научно-исследовательского центра. ' +
                    'Контролирует процесс обучения и&nbsp;повышения квалификации сотрудников и&nbsp;обеспечивает постоянное совершенствование подготовки персонала, ' +
                    'распространения передового производственного опыта.'
                )
            +set('right')
                +person(
                    '../../images/leadership/person-7.jpg',
                    'Руководитель Лаборатории неразрушающего контроля',
                    'Ёлкина Наталья Николаевна',
                    'Планирует технологические процессы и&nbsp;контролирует соблюдение сроков производства работ. Организует работы лаборатории в&nbsp;структуре заказчика, ' +
                    'координирует работы инженеров-дефектоскопистов.'
                )
        +two-columns({class: 'leadership__row'})
            +set('left')
                +person(
                    '../../images/leadership/person-5.jpg',
                    'Главный бухгалтер',
                    'Прошунина Лидия Александровна',
                    'Руководит бухгалтерским отделом, разрабатывает общие принципы работы бухгалтерии, осуществляет экономический анализ деятельности компании.'
                )
            +set('right')
                +person(
                    '../../images/leadership/person-6.jpg',
                    'Директор по продажам',
                    'Клещунов Алексей Сергеевич',
                    'Руководит отделом прямых продаж и тендерным отделом компании. Проводит переговоры и заключает долгосрочные контракты с ключевыми клиентами компании. ' +
                    'Осуществляет анализ российского рынка и разрабатывает стратегии привлечения новых заказчиков.'
                )