include ../two-columns/two-columns
include ../info-block-1/info-block-1
include ../../common/multiple-blocks

mixin documents
    .documents.documents_padding-top
        +two-columns
            +set('left')
                div.anim-overflow
                    +info-block-1('<div class="thirdslide-infoblocks">Сертификаты</div>', null, 'Метод фононной диагностики признан мировыми сертификационными центрами: <br> ' +
                    'ISO, ' +
                    'Морской регистр, Bureau Veritas, ILAC, Вьетнамский регистр', {
                        url: '#',
                        anchor: 'Открыть документы'
                    }, {class: 'documents__info-block'})
            +set('right')
                div.anim-overflow
                    .documents__title#anim Документы
                    .documents__title и лицензии
                    +info-block-1('<div class="thirdslide-infoblocks">Патент</div>', null, 'ДИАТЕХ является единственным правообладателем метода фононной диагностики, фононного оборудования и&nbsp;программного обеспечения, только ДИАТЕХ проводит подготовку фононных специалистов.', {
                        url: '#',
                        anchor: 'Открыть документы'
                    }, {class: 'documents__info-block documents__info-block_right'})